<table class="table table-borderless">
    <tr>
        <td>NomorPegawai*</td>
        <td>
            <input id="nomInput" class="form-control" maxlength="50">
            <small id="errNom" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>NamaPengemudi*</td>
        <td>
            <input id="namaInput" class="form-control" maxlength="50">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="editCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../pengemudi/addPengemudi.js"></script>