<table class="table table-borderless">
    <tr>
        <td>Kendaraan*</td>
        <td>
            <input id="kenInput" class="form-control" maxlength="50">
            <small id="errKen" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Harga*</td>
        <td>
            <input id="harInput" class="form-control" maxlength="50">
            <small id="errHar" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editCancelBtn" class="btn btn-outline-dark">Cancel</button>
            <button id="editCreateBtn" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../armada/addArmada.js"></script>