<input th:value="${id}" type="hidden" id="editArmadaId">

<table class="table table-borderless">
    <tr>
        <td>Kendaraan</td>
        <td>
            <input id="kenInput" class="form-control" maxlength="10" readonly>
            <small id="errKen" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td>Harga</td>
        <td>
            <input id="harInput" class="form-control" maxlength="50">
            <small id="errHar" class="text-danger"></small>
        </td>
    </tr>
    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../armada/editarmada.js"></script>