<table class="table table-borderless">
    <tr>
        <td>Kota*</td>
        <td>
            <select name="opsiKota" id="opsiKota">
                <option value="" selected="selected"> Pilih Kota</option>
            </select>
            <br>
            <small id="errKota" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>NamaWisata*</td>
        <td>
            <input id="namaWisata" class="form-control" maxlength="50">
            <small id="artNama" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Kapasitas*</td>
        <td>
            <input id="namaKapasitas" class="form-control" maxlength="50">
            <small id="arrKapasitas" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Harga*</td>
        <td>
            <input id="namaHarga" class="form-control" maxlength="50">
            <small id="arrHarga" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="addBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="addBtnCreate" class="btn btn-primary">Create</button>
        </td>
    </tr>
</table>

<script src="../paketwisata/addPaketWisata.js"></script>