<input th:value="${id}" type="hidden" id="delPaketWisataId">
<table class="table table-borderless table-sm">
    <tr>
        <p>Apakah anda yakin ingin menghapus <span id="idDelete">namaWisata</span> ?</p>
    </tr>

</table>
<button id="delCancelBtn" class="btn btn-outline-dark">Cancel</button>
<button id="delDeleteBtn" class="btn btn-danger">Delete</button>

<script src="../paketwisata/deletePaketWisata.js"></script>