<input th:value="${id}" type="hidden" id="editPaketWisataId">

<table class="table table-borderless">
    <tr>
        <td>Kota*</td>
        <td>
            <select name="opsiKota" id="opsiKota">
                <option value="" selected="selected"> Pilih Kota</option>
            </select>
            <br>
            <small id="errKota" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>NamaWisata*</td>
        <td>
            <input id="namaInput" class="form-control" maxlength="10">
            <small id="errNama" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Kapasitas*</td>
        <td>
            <input id="kapasitasInput" class="form-control" maxlength="50">
            <small id="errKapasitas" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td>Harga*</td>
        <td>
            <input id="hargaInput" class="form-control" maxlength="50">
            <small id="errHarga" class="text-danger"></small>
        </td>
    </tr>

    <tr>
        <td></td>
        <td>
            <button id="editBtnCancel" class="btn btn-outline-dark">Cancel</button>
            <button id="editBtnCreate" class="btn btn-warning">Save Changes</button>
        </td>
    </tr>
</table>

<script src="../paketwisata/editPaketWisata.js"></script>